#wp-cart-button-form {
	display:inline !important;
}

#wp-cart-button-form label{ margin: 0 4px 0 0; }
#wp-cart-button-form .submit{ margin: 4px 0 ; }
#empty-cart { margin: 10px 0;  }
#empty-cart a, .empty-cart-text{ display: block; }

.shopping_cart{
font-size:12px;
}
.shopping_cart h2{
font-size:14px;
}
.shopping_cart img{
border:none;
}
.shopping_cart input{
width:auto !important;
}
.wp-cart-button-form input{
width: auto !important;
}

.wp_cart_checkout_button { margin: 4px 0 ; }

.wp_cart_checkout_button:hover{
	opacity:0.7;
}

.wp_cart_button:hover{
	opacity:0.7;
}

