#poststuff h2 { padding: 0 0 20px !important;}

.icon32 { margin: 0 3px 0 0 !important; }

#tabs-3 ul { display: block;}
#tabs-3 ul li { display: inline-block; margin: 10px 20px; font-size: 1.5em;}
#tabs-3 img { display: inline-block; margin: 10px 20px; }

#tabs-3 .donate { margin: 10px auto; width:30%; text-align:left; }

#tabs-5 .content { overflow: auto;border: 1px solid #666;padding: 8px; height: 800px;}

#tabs-5 pre { white-space:pre-wrap; width:110ex; }