.shopping_cart{
font-size:12px;
}
.shopping_cart h2{
font-size:14px;
}
.shopping_cart img{
border:none;
}
.shopping_cart input{
width:auto !important;
}
.wpus-cart-button-form input{
width: auto !important;
}

.wp_cart_checkout_button { margin: 4px 0 ; }

.wp_cart_checkout_button:hover{
	opacity:0.7;
}

.wp_cart_button:hover{
	opacity:0.7;
}

.step_sub {
	font-size:16px;
}

.vsubmit,
.sv-select, 
.sp-select, 
.ss-select, 
.lv-select, 
.lp-select 
.ls-select {
	font-size:16px;
}

.lv-select, 
.lp-select 
.ls-select
{
	display: block;
	width: 150px;
	float: left;
}

#wpus-cart-button-form {
	display:inline !important;
}

#wpus-cart-button-form label{ margin: 0 4px 0 0; }
#wpus-cart-button-form .submit{ margin: 4px 0 ; }
#empty-cart { margin: 10px 0;  }
#empty-cart a, .empty-cart-text{ display: block; }

#shopping_cart {
	padding: 5px;
}

.subcell,
.shipcell,
.totalcel 
{
	font-weight: bold; 
	text-align: right;
	padding-right: 3px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.cartLink {
	overflow: hidden;
}

.cart_labels th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}


